<div class="reset-password-container">
  <!-- LEFT SIDE -->
  <div class="reset-password-card-wrapper">
    <div class="reset-password-card">
      <div class="logo-area">
        <img src="assets/AivanLogo.png" alt="AIVAN Logo" class="logo-img" />
        <h2 class="company-name">AIVAN ERP</h2>
      </div>
      <div class="reset-header">
        <h3 class="reset-title">Create a new password</h3>
        <p class="reset-subtitle">Enter your secure new password below to recover your account access.</p>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <div class="form-group">
          <label class="reset-label" for="newPassword">NEW PASSWORD</label>
          <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="••••••••" class="reset-input" />
          
          <small *ngIf="f['newPassword'].touched && f['newPassword'].errors">
            <span *ngIf="f['newPassword'].errors['required']">Password is required</span>
            <span *ngIf="f['newPassword'].errors['minlength']">Password must be at least 6 characters</span>
          </small>
        </div>

        <div class="form-group">
          <label class="reset-label" for="confirmPassword">CONFIRM PASSWORD</label>
          <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="••••••••" class="reset-input" />
          
          <small *ngIf="f['confirmPassword'].touched && (f['confirmPassword'].errors || resetPasswordForm.errors?.['mismatch'])">
            <span *ngIf="f['confirmPassword'].errors?.['required']">Confirmation is required</span>
            <span *ngIf="!f['confirmPassword'].errors?.['required'] && resetPasswordForm.errors?.['mismatch']">Passwords do not match</span>
          </small>
        </div>

        <button type="submit" class="reset-password-btn" [disabled]="resetPasswordForm.invalid">Update Password</button>
        
        <div class="back-link-container">
          <a routerLink="/auth/login" class="back-link">Back to login</a>
        </div>
      </form>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="reset-password-image">
    <img src="assets/login-bg.png" alt="login illustration" />
  </div>
</div>

<!-- CENTER POPUP -->
<div *ngIf="showPopup" class="popup-overlay">
  <div class="popup-box" [ngClass]="messageType">
    <p>{{ message }}</p>
  </div>
</div>
