<div class="Emp_dashboard">
    <nav>
        <!-- left side -->
        <div class="leftnav">
            <div class="logo">
                <img src="assets/AivanLogo.png" alt="Logo" />
            </div>
            <div class="hamburger">
                <span class="line long"></span>
                <span class="line mid"></span>
                <span class="line short"></span>
            </div>
            <div class="hrname">
                <span>Hi, Kaushal</span>
            </div>
        </div>

        <!-- right side -->
        <div class="rightnav">
            <div class="searchbar">
                <input type="text" placeholder="Search here" />
                <svg class="search-icon" viewBox="0 0 24 24">
                    <path
                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" />
                </svg>
            </div>

            <div class="globeicon">
                <svg viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M2 12H22M12 2C14.5 5 16 8 16 12C16 16 14.5 19 12 22C9.5 19 8 16 8 12C8 8 9.5 5 12 2Z" />
                </svg>
            </div>

            <div class="language">
                <mat-form-field appearance="outline">
                    <mat-select [(value)]="selectedLang">
                        <mat-option value="en">English</mat-option>
                        <mat-option value="hi">Hindi</mat-option>
                        <mat-option value="es">Spanish</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="notification">
                <svg viewBox="0 0 24 24">
                    <path d="M18 8C18 5.79086 16.2091 4 14 4H10C7.79086 4 6 5.79086 6 8V12L4 14V15H20V14L18 12V8Z" />
                    <path d="M9 19C9.5 20 10.5 21 12 21C13.5 21 14.5 20 15 19" />
                </svg>
                <span class="badge">3</span>
            </div>

            <div class="profile">
                <div class="avatar">
                    <i class="fas fa-user-circle"></i>
                    <span class="online-dot"></span>
                </div>
                <span class="profilename">Kaushal</span>
                <svg class="chevron-icon" viewBox="0 0 24 24">
                    <path d="M6 9L12 15L18 9" />
                </svg>
            </div>
        </div>
    </nav>
    <div class="card ">

        <div class="empname">
            Welcome, Kaushal
        </div>
        <div class="dashboard">
            Dashboard
            
        </div>
    </div>

    <div class="full_details">
        <div class="full_details-content">
            <div class="fullDetail-item" *ngFor="let item of fullDetails">
                <div class="icon-circle">
                    <i [class]="item.icon" class="fullDetail-icon"></i>
                </div>
                <div class="full_detail-info">
                    <span class="fullDetail-value">{{ item.value }}</span>
                    <span class="fullDetail-label">{{ item.label }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- clients & recent projects -->
     <div class="project_details">
        <div class="card clients">
            <h3 class="project_title">Clients</h3>
            <div class="divider"></div>

            <table class="client-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td class="name-cell">
                                <div class="avatar_client">
                                    <i class="fas fa-image"></i>
                                </div>
                                <div>
                                    <div class="name">{{ client.name }}</div>
                                    <div class="role">{{ client.role }}</div>
                                </div>
                            </td>
                    
                            <td>{{ client.email }}</td>
                    
                            <td>
                                <select [(ngModel)]="client.status" class="status">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </td>

                            <td class="text-center">
                                <i class="fas fa-ellipsis-v action-icon"></i>
                            </td>
                    
                        </tr>
                    </tbody>
            </table>
            <div class="view-all">View all clients</div>
        </div>
        <div class="card recent_projects">
            <h3 class="project_title">Recent Projects</h3>
            <div class="divider"></div>
        </div>
     </div>
</div>
