<div class="forgot-password-container">
  <!-- LEFT SIDE -->
  <div class="forgot-password-card-wrapper">
    <div class="forgot-password-card">
        <div class="logo-area">
            <img src="assets/AivanLogo.png" alt="AIVAN Logo" class="logo-img" />
            <h2 class="company-name">AIVAN ERP</h2>
        
        </div>
      <div class="forgot-header">
        <h3 class="forgot-title">Reset your password</h3>
        <p class="forgot-subtitle">Enter your official email or username and we'll help you recover access.</p>
      </div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <div class="form-group">
          <label class="forgot-label">OFFICIAL EMAIL OR USERNAME</label>
          <input type="email" formControlName="email" placeholder="abc@aivan.com" class="forgot-input" />

          <small *ngIf="f['email'].touched && f['email'].errors">
            <span *ngIf="f['email'].errors['required']">Email is required</span>
            <span *ngIf="f['email'].errors['email']">Invalid email format</span>
          </small>
        </div>

        <button type="submit" class="forgot-password-btn" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
        
        <div class="back-link-container">
          <a routerLink="/auth/login" class="back-link">Back to login</a>
        </div>
      </form>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="forgot-password-image">
    <img src="assets/login-bg.png" alt="login illustration" />
  </div>
</div>

<!-- CENTER POPUP -->
<div *ngIf="showPopup" class="popup-overlay">
  <div class="popup-box" [ngClass]="messageType">
    <p>{{ message }}</p>
  </div>
</div>