<div class="custom-select-container" 
     [class.disabled]="disabled" 
     [class.dropup]="dropup"
     [class.size-sm]="size === 'sm'"
     [class.align-right]="align === 'right'">
  <button type="button" class="select-trigger" [id]="inputId" (click)="toggleDropdown()" [class.open]="isOpen" [disabled]="disabled">
    <span class="selected-value" [class.placeholder-text]="!value && value !== ''">{{ currentLabel }}</span>
    <i class="fas fa-chevron-down caret" [class.rotated]="isOpen"></i>
  </button>
  
  <div class="dropdown-menu" *ngIf="isOpen">
    <ul>
      <li 
        *ngFor="let option of options" 
        (click)="selectOption(option)"
        [class.active]="option.value === value">
        <span class="option-text">{{ option.label }}</span>
        <i class="fas fa-check check-icon" *ngIf="option.value === value"></i>
      </li>
    </ul>
  </div>
</div>

