<div class="dropdown-menu" *ngIf="!isLogoutPopupOpen">
    <ul>
        <li><a routerLink="/profile"><i class="far fa-user"></i> My Profile</a></li>
        <li><a routerLink="/settings"><i class="fas fa-cog"></i> Settings</a></li>
        <li class="divider"></li>
        <li><a style="cursor: pointer;" (click)="openLogoutConfirm($event)"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>

<div class="logout-popup" *ngIf="isLogoutPopupOpen">
  <div class="popup-box">
    <p>Are you sure you want to logout?</p>

    <div class="actions">
      <button class="yes-btn" (click)="confirmLogout($event)">Yes</button>
      <button class="no-btn" (click)="closeLogoutPopup($event)">No</button>
    </div>
  </div>
</div>
